@import url('https://fonts.googleapis.com/css?family=Open+Sans|Roboto&display=swap');

body, html { 
  background-color: rgb(6,22,53);
font-family: 'Roboto', sans-serif;
  color: rgb(187,192,199);
  margin: 0;
  height: 100%;
  overflow: hidden

}

